body {
  font-family: Montserrat;
}
li {
  color: #daff08;
}
h3 {
  color: rgb(0, 0, 0);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip-path: none;
}
.wrapper {
  background-color: #fff;
  display: flex;
}
.sidebar {
  width: 35%;
  background-color: #104b37;
  padding-top: 40px;
  padding-bottom: 40px;
}
.foto {
  width: 100%;
}
.contacts-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
}
.sidebar-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-bottom: 20px;
}
.contacts-list li {
  list-style: none;
}
.contacts-country {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.contacts-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  fill: #fff;
}
.contacts-link {
  color: #5adbe4;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.skills {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  margin-left: 15px;
}

.about-me {
  width: 65%;
  padding: 60px;
}
.about-me-main-info {
  margin-bottom: 40px;
}
.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 23px;
}
.profession {
  font-size: 25px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
}
.information {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.information-section {
  margin-bottom: 55px;
}
.information-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.number-information {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-left: 17px;
  margin-bottom: 15px;
}
.number-information:last-child {
  margin-bottom: 0px;
}
.projects-item-container {
  display: flex;
  align-items: center;
}
.projects-item-container > h3 {
  margin-right: 10px;
}
.project-name {
  color: #104b37;
  font-weight: 700;
}
.projects {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
}
.projects-text {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.company {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profession-item {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 10px;
  color: #104b37;
}
.profession-time {
  color: #a8a8a8;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 14px;
}
.education {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #104b37;
}

/* NEW ANIMATION */

figure.photo-card-anime {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  /* margin: 5px 5px 10px; */
  margin: 0 auto;
  border-radius: 15px;
  height: 20%;
  width: 80%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.photo-card-anime * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure.photo-card-anime img {
  width: 100%;
  height: 100%;
  position: relative;
  opacity: 0.4;
}

figure.photo-card-anime figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.photo-card-anime h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
}

figure.photo-card-anime h2 span {
  font-weight: 800;
}

figure.photo-card-anime:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  background: #ffffff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}

figure.photo-card-anime.red {
  background: #581a14;
}

figure.photo-card-anime.red h2 {
  background: #36100c;
}

figure.photo-card-anime:hover img,
figure.photo-card-anime.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.photo-card-anime:hover h2,
figure.photo-card-anime.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.photo-card-anime:hover:before,
figure.photo-card-anime.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}

/* Accardion */
.profession__link {
  font-family: Montserrat;
  color: #202020;
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 10px;
  color: #104b37;
  text-align: start;
  padding: 0;
  cursor: pointer;
}

.profession__link::after {
  content: '\02C5';
  font-weight: bold;
  margin-left: 15px;
  font-size: 20px;
}

.profession__link_active::after {
  content: '\02C4';
  font-weight: bold;
  margin-left: 15px;
  font-size: 20px;
}

.profession__link_active {
  color: #202020;
  margin-bottom: 14px;
}

/* Mobile */
@media screen and (max-width: 767px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sidebar {
    width: 100%;
  }

  .about-me {
    width: 100%;
    padding: 10px;
  }

  .name,
  .profession,
  .information-title {
    text-align: center;
  }
}
